dataclasses==0.6
Keras-Preprocessing>=1.1.2
matplotlib==3.3.3
music21==6.3.0
multiprocess==0.70.11.1
numpy==1.18.0
pandas==1.1.4
pylint>=2.4.4
pyparsing>=2.4.7
python-dateutil>=2.8.1
python-rtmidi>=1.4.6
requests>=2.24.0
tensorboard>=2.3.0
tensorboard-plugin-wit>=1.7.0
tensorflow>=2.3.1
tensorflow-estimator>=2.3.0
torch>=1.7.0+cu101
torchaudio>=0.7.0
torchvision>=0.8.1+cu101
tqdm>=4.49.0
urllib3>=1.25.11
